{% extends 'layout2.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
{{ parent() }}
        {% if form_edit_user is defined %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-center">
                        <div class="card-header">Modifier un utilisateur<br>

                        </div>
                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-6">
                                {{ form_start(form_edit_user) }}

                                <div class="form-group">
                                    {{ form_row(form_edit_user.lastname) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form_edit_user.firstname) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form_edit_user.email) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form_edit_user.plainPassword) }}
                                </div>


                            </div>

                        </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success">Valider</button>
                            </div>

                            {{ form_end(form_edit_user) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Copyright &copy; EasyBoardRoom 2019</p>

                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



