{% extends 'layout2.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
{{ parent() }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Liste des utilisateurs</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                           <div class="table-responsive">
                               <table class="table table-bordered table-hover">
                                   <thead class="thead-light text-center">
                                   <tr>
                                       <td colspan="7" class="text-center">
                                           {% for type, messages in app.session.flashBag.all %}
                                               {% for message in messages %}
                                                   {% if type == 'error' %}
                                                       {% set type = 'danger' %}
                                                   {% endif %}
                                                   <div class="alert alert-{{ type }} mt-2">
                                                       {{ message|raw }}
                                                   </div>
                                               {% endfor %}
                                           {% endfor %}
                                       </td>
                                   </tr>
                                   <tr>
                                       <th scope="col">NOM</th>
                                       <th scope="col">PRENOM</th>
                                       <th scope="col">EMAIL</th>
                                       <th scope="col">STATUT</th>
                                       <th scope="col">RESERVATIONS</th>
                                       <th scope="col">MODIFIER</th>
                                       <th scope="col">SUPPRIMER</th>
                                   </tr>
                                   </thead>
                                   <tbody class="text-center">
                                   {% for item in list %}
                                   <tr>
                                       <th scope="row" class="text-uppercase">{{ item.lastname }}</th>
                                       <th scope="row">{{ item.firstname }}</th>
                                       <th scope="row">{{ item.email }}</th>
                                       {% if item.roles|length > 1 %}
                                           <th scope="row">Administrateur</th>
                                       {% else %}
                                           <th scope="row">Utilisateur</th>
                                       {% endif %}
                                       <th scope="row">
                                           <a href="{{ path('user_booking',{'id' : item.id}) }}/#edituser" class="btn btn-outline-info">Voir</a>

                                       </th>
                                       <th scope="row">
                                           <a href="{{ path('admin_edit_user',{'id' : item.id}) }}/#edituser" class="btn btn-outline-dark">Modifier</a>

                                       </th>
                                       <th scope="row">
                                           <a href="{{ path('admin_delete_user',{'id' : item.id}) }}/#edituser" class="btn btn-outline-danger">Supprimer</a>

                                       </th>
                                   </tr>
                                   {% endfor %}
                                   </tbody>

                               </table>


                           </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Copyright &copy; EasyBoardRoom 2019</p>

                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}


