{% extends 'layout2.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
{{ parent() }}
<div class="container">
    <div class="row">
        <div class="table-responsive mt-3">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th colspan="7" class="thead-dark text-center text-uppercase">Nouvelle reservation</th>
                </tr>
                <tr>
                    <td>Utilisateur : <br><strong> {{ app.user }} </strong></td>
                    <td colspan="{{ rooms | length }}" class="text-center text-uppercase">
                        Planning du :
                        <strong> {{ planing_date|date('d-m-Y') }} </strong><br>
                        Nombre d'heure(s) choisie(s) : <strong>{{ duration }} </strong>heure(s)
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="text-center">
                        Horaires / Salles
                    </th>
                    {% for room in rooms %}
                        <th scope="col" class="text-center">
                            {{ room.name }}
                        </th>
                    {% endfor %}
                </tr>

                </thead>
                <tbody>

                {% for timeslot in timetable %}
                    <tr>

                        <td class="bg-info text-center">
                            {{ timeslot.hourStart | date('H:i') }} - {{ timeslot.hourEnd | date('H:i') }}
                        </td>

                        {% for room in rooms %}

                            {% if checkRoomAvailability(room.id, planing_date, timeslot.hourStart) %}
                                <td class="bg-success text-center">
                                    <a href="{{ path('booking_book', {
                                        'id' : room.id,
                                        'dateStart' : timestamp,
                                        'hourStart' : timeslot.hourStart | date('H:i'),
                                        'duration' : duration,
                                    }) }}" class="btn btn-sm btn-success">Disponible</a>
                                </td>
                            {% else %}
                                <td class="bg-danger text-center">
                                    <strong>Réservé</strong>
                                </td>
                            {% endif %}

                        {% endfor %}

                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Copyright &copy; EasyBoardRoom 2019</p>

                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

