{% extends 'layout.html.twig' %}

{% block title %}Edition réservation{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    {#<h1>Edition réservation</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.dateStart) }}
    {{ form_row(form.dateEnd) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('booking_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>
    {{ form_end(form) }}#}
{% endblock %}
