{% extends 'layout2.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
{{ parent() }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Réservation</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-6 mx-auto">

                    <div class="card text-center">

                        <div class="card-header">VERIFIER LES DISPONIBILITES</div>
                        {% if form is defined %}
                            <div class="card-body">
                                {{ form_start(form) }}
                                <div class="text-center mb-2">
                                {{ form_row(form.dateStart) }}
                                </div>
                                {{ form_widget(form.duration) }}
                            </div>
                            <div class="card-footer">
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Copyright &copy; EasyBoardRoom 2019</p>

                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}