{% extends 'layout2.html.twig' %}
{% block title %}Planning du jour{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}
{% block body %}
{{ parent() }}
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-10 mx-auto">
                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">

                        {% if type is defined and message is defined %}
                        <tr>
                            <td colspan="{{ list_rooms | length }}" class="text-center">
                                {% for type, messages in app.session.flashBag.all %}
                                    {% for message in messages %}
                                        {% if type == 'error' %}
                                            {% set type = 'danger' %}
                                        {% endif %}
                                        <div class="alert alert-{{ type }} mt-2">
                                            {{ message|raw }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>

                        {% endif %}
                        <tr>
                            <td><strong> Consultation </strong><br>
                                <a href="{{ path('login') }}" class="btn btn-outline-dark">Réservation</a>
                            </td>
                            <td colspan="{{ list_rooms | length }}" class="text-center text-uppercase">
                                Planning du :
                                <strong> {{ planing_date|date('d-m-Y') }} </strong>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center">
                                Horaires / Salles
                            </th>
                            {% for room in list_rooms %}
                                <th scope="col" class="text-center">
                                    {{ room.name }}
                                </th>
                            {% endfor %}
                        </tr>

                        </thead>
                        <tbody>

                        {% for timeslot in timetable %}
                            <tr>

                                <td class="bg-info text-center">
                                    {{ timeslot.hourStart | date('H:i') }} - {{ timeslot.hourEnd | date('H:i') }}
                                </td>

                                {% for room in list_rooms %}

                                    {% if checkRoomAvailability(room.id, planing_date, timeslot.hourStart) %}
                                        <td class="bg-success text-center">
                                            {% if app.user is null %}
                                                <a href="{{ path('login') }}" class="btn btn-sm btn-success">Disponible</a>
                                            {% else %}
                                                <a href="{{ path('booking_create') }}" class="btn btn-sm btn-success">Disponible</a>
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <td class="bg-danger text-center">
                                            <strong>Réservé</strong>
                                        </td>
                                    {% endif %}

                                {% endfor %}

                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}