{% extends 'layout.html.twig' %}

{% block body %}


<pre>
    {{ dump(list)}}
</pre>


{#    <pre>#}
{#        {% for item in list %}#}
{#        #}
{#            #}
{#        {% endfor %}#}
{#        #}
{#    </pre>#}
{% endblock %}


