<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <div class="container">

        {% block body %}


        {% endblock %}
    </div>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
