{% extends 'layout2.html.twig' %}

{% block title %}Vos réservations{% endblock %}
{% block stylesheets %}{{ parent() }} {% endblock %}

{% block body %}
    {{ parent() }}




    {% if liste|length == 0  %}
        <h3><p class="text-center">Aucune réservation</p></h3>
    {% else %}
        <h3 class="text-center">Réservations de <strong>{{ user_booking.firstname }} {{ user_booking.lastname }}</strong></h3>
   <table class="table table-striped">
       <thead class="thead-light">
            <tr>
                <th scope="col">Salle</th>
                <th scope="col">Réservation effectuée le:</th>
                <th scope="col">Date de la réservation</th>
                <th scope="col">Heure de début de la réservation</th>
                <th scope="col">Durée de la réservation</th>
                <th scope="col">Supression</th>
            </tr>
       </thead>
       <tbody>
        {% for booking in liste %}
            <tr>
                <td>{{ booking.room.name }}</td>
                <td>{{ booking.bookingDate | date('d-m-Y') }}</td>
                <td>{{ booking.dateStart | date('d-m-Y') }}</td>
                <td>{{ booking.hourStart | date('H:i') }}</td>
                <td>{{ booking.duration }} h</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('delete_user_booking', {'id': booking.id, 'admin' : 1}) }}"
                           class="btn btn-danger">
                            Supprimer
                        </a>
                    {% else %}
                    <a href="{{ path('delete_user_booking', {'id': booking.id}) }}"
                       class="btn btn-danger">
                        Supprimer
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
       </tbody>
    </table>
    {% endif %}
    <div class="text-right mb-3">
        {% if is_granted('ROLE_ADMIN') %}
         <a href="{{ path('admin_edit_user') }}" class="btn btn-outline-secondary">Retour</a>
        {% else %}
            <a href="{{ path('home') }}"
               class="btn btn-outline-secondary">
                Retour
            </a>
        {% endif %}
    </div>
{% endblock %}
